nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url("../images/phone-background.png");
  }
  .headr-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .headr-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tabe-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
